<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}Meu Flask{% endblock %}</title>
</head>

<body>

    <header>
        <h1>Meu Flask</h1>

    <nav>
    <a href="{{ url_for('index') }}">Início</a>
    |
    <a href="{{ url_for('new') }}">Novo conteúdo</a>
    |
    <a href="{{ url_for('about') }}">Sobre</a>
    |
    <a href="{{ url_for('contacts') }}">Contatos</a>
    </nav>

        <hr>
    </header>


    <main>
        {% block content %}
        {% endblock %}
    </main>


  <footer>
    <hr>
    <p>Atividade desenvolvida com Python e Flask.</p>
</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>